<% @presenter.closest_fuel_stations.each do |station| %>

  <ul class="station">
    <li class="name"><%= station.name %></li>
    <li class="address"><%= station.address %></li>
    <li class="fuel-type"><%= station.fuel_type %></li>
    <li class="distance"><%= station.distance %></li>
    <li class="access-times"><%= station.access_times %></li>
  </ul>
<% end %>
